@font-face {
  font-family: "Knewave-Regular";
  src: local("Knewave-Regular"),
    url(./fonts/Knewave/Knewave-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Bold";
  src: local("Outfit"),
    url(./fonts/Outfit/static/Outfit-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Regular";
  src: local("Outfit"),
    url(./fonts/Outfit/static/Outfit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Light";
  src: local("Outfit"),
    url(./fonts/Outfit/static/Outfit-Light.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Outfit-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Outfit-Regular";
}

html,
body {
  background-color: white;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
