@font-face {
  font-family: "Knewave-Regular";
  src: local("Knewave-Regular"),
    url(./fonts/Knewave/Knewave-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: local("Rubik"),
    url(./fonts/Rubik/static/Rubik-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik"),
    url(./fonts/Rubik/static/Rubik-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Rubik-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Rubik-Regular";
}

html,
body {
  background-color: white;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
